{% extends "private_base.html" %}

{% block content %}

   <div class="border border-primary" style="background: #ffff00">
       <ul class="list-group">
           <li class="list-group-item">Название: {{task.name}}</li>
           <li class="list-group-item">Описание: {{task.description}}</li>
           <li class="list-group-item">Дата создания: {{task.creation_time.strftime('%d.%m.%y %H:%M:%S')}}
       </ul>
       {% if task.author_id == current_user.id %}
            <a href="../edit_task/{{task.id}}" class="btn btn-primary btn-block">Редактировать</a>
       {% endif %}

       {% if task.performer_id == current_user.id and task.status != 2 %}
            <a href="../finish_task/{{task.id}}" class="btn btn-primary btn-block">Выполнено</a>
       {% endif %}

    </div>

{% endblock %}